h1 {
    font-size: 4em;
    color: yellow;
    background-color: red;
    border-style: solid;
}

h2 {
    font-size: 3em;
    color: red;
    background-color: yellow;
    
}

h3 {
    font-size: 2em;
    color: yellow;
    background-color: red;
    
}